

<section id="head">

	<div class="row">
		<div class="col-md-10">
			<ul>
				<li><%= link_to("My Work",explorer_mywork_path )%></li>
				<li><%= link_to("Product View",explorer_productview_path )%></li>
				<li><%= link_to("Active Ingredient",explorer_ingredient_path )%></li>				
				<li><%= link_to("OPP level",explorer_productview_path )%></li>				

			</ul>

		</div>
		<div id="user_header" class="col-md-2">
				
		</div>
	</div>

</section>