<!DOCTYPE html>

<html>
<head>


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

<script type="text/javascript">


    $( document ).ready(function() {


        //PAGE SETUP
        $("#search_click").click(function(){//add search click envent
            loadProductPage($('#ri_num').val())   
            } 
        );

        //setup submenu links
        $(".submenu_links").click(function(){ 

            showSubMenu(this,this.id);

        });

        //if this page is loaded with a reg_num passesd, then automatically load that product
        var url = window.location.toString(); 
        if(url.substr(url.lastIndexOf('/') + 1,url.indexOf('?') > 0 ? url.indexOf('?') : url.length).length !=0){
            //a reg_num has been passed in the URL /productview/xxxxxxx
            var reg_num = url.substr(url.lastIndexOf('/') + 1,url.indexOf('?') > 0 ? url.indexOf('?') : url.length);
            loadProductPage(reg_num);


        }

        function loadProductPage(ri_num){

            fetch_product(ri_num);

            fetch_decisions({
                "ri_num" : ri_num,
                "tables" : ["#current_decision .decision_table","#past_decisions .decision_table"]
                });

        };

        function showSubMenu(anchor,subSection) {
            $("section.sub").css("display","none").css("font-weight","none");
            $(".submenu_links").removeClass("sub_selected");           
            $(anchor).addClass("sub_selected");
            switch(subSection) {
                case "sublnk_documents":
                    $("#document_library").show(400);

                    break;
                case "sublnk_rr":
                    $("#reg_review").show(400);
                    break;
                case "sublnk_past_decisions":
                    $("#past_decisions").show(400);
                    break;

                default:
                    break;
            }            

        };

    });

</script>


</head>


<body>

    <div class="container">

    <%= render "head" %>
    
    <section id="reg_search">
        <header>
            <h2>
            Product View 
            </h2>
        </header>
        <div class="row">
            <div class="col-md-12">
                <form id="product_search">
                    <div class="form-group">
                        <label for="mrid">Enter Registration Number #</label>
                        <input type="text" class="form-control" id="ri_num">
                        <input id="search_click" type="button" class="btn btn-default" value="search">
                    </div>
                </form>
            </div>
        </div>

    </section>

    <section id="product_summary">
     <div class="row">
        <div class="col-md-12 h3" id="ri_name">
            
       </div>
     </div>

     <div class="row">
        <div class="col-md-3 field_label product_summary_label">
            Registration #:
        </div>
        <div class="col-md-9 product_summary_value">
            <div id="ri_number">
                 
            </div>
        </div>
     </div>

     <div class="row">
        <div class="col-md-3 field_label product_summary_label">
            Registration Type:
        </div>
        <div class="col-md-9 product_summary_value">
            <div id="ri_type">
                 
            </div>
        </div>
     </div>

     <div class="row">
        <div class="col-md-3 field_label  product_summary_label">
            Current Status:
        </div>
        <div class="col-md-9">
            <div id="ri_status">
                 
            </div>
        </div>
     </div>

     <div class="row">
        <div class="col-md-3 field_label product_summary_label">
            Company:
        </div>
        <div class="col-md-9" id="co_name">
            <div>
                 
            </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-3 field_label product_summary_label">
            Active Ingredients:
        </div>
        <div class="col-md-9" id="ingredients">
            
        </div>
     </div>     
     </section>


     <section id="current_decision">
         <div class="row">
             <div class="col-md-12">
                    <h3>Pending Decisions</h3>
             </div>
         </div>
         <div class="row">
            <div class="col-md-12">
                <table class="decision_table">

                </table>
            </div>


         </div>

     </section>


  <section id="sub_menu_sections">
     <section id="sub_menu">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="" onclick="javascript: return false;" id="sublnk_documents" class="submenu_links">Documents</a></li>
                    <li><a href="" onclick="return false"  id="sublnk_rr" class="submenu_links">Reg Review</a></li>
                    <li><a href=""  onclick="return false"  id="sublnk_past_decisions" class="submenu_links">Past Decisions</a></li>

                </ul>
            </div>
        </div>
     </section>
     <section id="reg_review" class="sub">
         <div class="row">
             <div class="col-md-12">
                    <h3>Registration Review Activity</h3>
             </div>
         </div>
         <div class="row">
            <div class="col-md-12 dci_content">
            </div>
         </div>


     </section>

     <section id="document_library" class="sub">
        <div class="row">
             <div class="col-md-12">
                    <h3>Documentum Documents</h3>
             </div>
        </div>     
        <div class="row document-list-div">
            <div class="col-md-4">
                <div class="document_pane">
                <div>
                
                    <a class="filter-tag" href="javascript:" data-filter="all">All</a>
                    <a class="filter-tag filter-tag-selected" href="javascript:" data-filter="studies">Studies</a>
                </div>
                    <ul id="document_list">

                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <iframe src="" id="previewPane" frameborder="0">
                    
                </iframe>           
            </div>
        </div>
     </section>

     <section id="past_decisions" class="sub">
         <div class="row">
             <div class="col-md-12">
                    <h3>Past Decisions</h3>
             </div>
         </div>
         <div class="row">
            <div class="col-md-12">
                <table class="decision_table">
                    <tr>
                        <th>Dec#</th>
                        <th>Action</th>
                        <th>Status</th>
                        <th>Division</th>
                        <th>Person</th>
                        <th>FFS Start</th>
                        <th>Due Date</th>
                        <th></th>
                                                                                                       
                    </tr>
                </table>
            </div>


         </div>

     </section>     
</section>
    </div><!-- container -->

</body>