

<section id="head">

	<div class="row">
		<div class="col-md-12">
			<ul>
				<li><%= link_to("My Work",home_mywork_path )%></li>
				<li><%= link_to("Product View",home_productview_path )%></li>

			</ul>
		</div>
	</div>

</section>