

<section id="head">

	<div class="row">
		<div class="col-md-10">
			<ul>
				<li><%= link_to("My Work",home_mywork_path )%></li>
				<li><%= link_to("Product View",home_productview_path )%></li>
				<li><%= link_to("Active Ingredient",home_productview_path )%></li>				<li><%= link_to("OPP level",home_productview_path )%></li>				

			</ul>

		</div>
		<div id="user_header" class="col-md-2">
				
		</div>
	</div>

</section>