

<section id="home_head">

	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<div id="explorer_title"><a href="/home">OPP Explorer</a></div>
		</div>
		<div class="col-md-6 ">
			<div id="home_menu">
				<ul>
					<li>About</li>
					<li>Team</li>
					<li>How</li>				
					<li><a href="home/currentwork.html">Current Work</a></li>	
					<li>Technology</li>		

				</ul>
			</div>

		</div>

	</div>

</section>