
<section id="currentwork">

<div id="currentwork_head">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h1>What are we working on now?</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			The OPP Explorer team is working on two concurrent sprints to build out both common "dashboards" such as a Chemical view and Product view as well as workflows such as label approval that will use dashboards but also touch other elements.
		</div>

	</div>
</div>

<div id="work_stream_1">
	<div class="row first-row">
		<div class="col-md-8 col-md-offset-1">
			<h2>Work Stream 1: Chemical View and MyWork Dashboard - PRD</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<div>
				<img src="/assets/ricardo_work.jpeg" alt="PRD Sketch" class="sketch_pic">
			</div>
			<div>
				<img src="/assets/document_library.jpeg" alt="PRD Sketch" class="sketch_pic">
			</div>		
		
		</div>
		<div class="col-md-2">
			<div>
				<img src="/assets/steve_s_prd.jpeg" alt="PRD Sketch" class="sketch_pic_2">
			</div>
			<div>
				<img src="/assets/smart_label.jpeg" alt="PRD Sketch" class="sketch_pic">
			</div>			
		</div>

		<div class="col-md-4">
			<div>
			The OPP Design and Prototype team has been working with the Product Re-registration Division to understand what information they would ideally need pulled together from multiple different systems to do their work. This includes:<p>
			<ul>
				<li>My Work Dashboard</li>
				<li>Chemical view</li>
				<li>Smart Label</li>
				<li>Document Library</li>			
			</ul>
			</div>
			
		</div>
	</div>
	<div class="row last-row">
		<div class="col-md-8 col-md-offset-1"><p></p>
			<p>What's the team up to this week? (Feb 27, 2017) <p>
			<ul>
				<li>Desk interviews of PRD Chemical Review Managers - My Work / Chemical Contacts</li>
				<li>Creating Clickable Prototypes of Chemical Summary</li>
			</ul>
			
		</div>
	</div>
</div>

<div id="work_stream_2">
	<div class="row first-row">
		<div class="col-md-8 col-md-offset-1">
			<h2>Work Stream 2: New Product Registration - RD</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<div>
				<img src="/assets/rd_non-pria_session.jpeg" alt="RD non-pria image" class="rd_non_pria_pic">
			</div>		

		</div>
	</div>

	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<div>
				<img src="/assets/wireframe_rd.jpg" alt="RD wireframe" class="rd_wireframe">
			</div>
		</div>

		<div class="col-md-4">
			<div class="blurb">
			The OPP Design and Prototype team has been working with several branches from RD to understand what information they would ideally need pulled together to do their work. This includes:<p>
			<ul>
				<li>My Work Dashboard</li>
				<li>Product and Chemical view</li>
			</ul>
			</div>
			
		</div>
	</div>
	<div class="row last-row">
		<div class="col-md-8 col-md-offset-1"><p></p>
			<p>What's the team up to this week? (Feb 27, 2017) <p>
			<ul>
				<li>Share out of RD team Product View paper prototypes</li>
				<li>Planning for next week storyboard workshop</li>
			</ul>
			
		</div>
	</div>	
</div>

</section>
