
<!DOCTYPE html>

<html>
<head>

<!-- 
	
NEXT TODO:

1) For each object, fetch and return primary contents link and display the actual download link. Need to look at DQL way to do this in 1 query, or iteratively do separate AJAX calls to get the collection.  
2) 

-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>


<script type="text/javascript">

	docRes = null; 	
	docArray = [];



	$( document ).ready(function() {
 
    	function loadSearch(){

	    	//clear out search results
	    	$("#study_tiles").empty();

	    	fetchAPI();

	    	console.log (docRes);
	    	console.log(docArray);

	    };

		$("#search_click").click(loadSearch);  

	});

</script>


</head>


<body>

<div class="container">

	<section id="product_header">
	 <div class="row">
	 	<div class="col-md-12 h2">
	 		Formula Batman Herbicide


	 	</div>
	 </div>

	 <div class="row">
	 	<div class="col-md-4 field_label">
	 		Registration #:
	 	</div>
	 	<div class="col-md-8">
	 		<div>
	 			60019-1
	 		</div>
	 	</div>
	 </div>

	 <div class="row">
	 	<div class="col-md-4 field_label">
	 		Company:
	 	</div>
	 	<div class="col-md-8">
	 		<div>
	 			73446 - Marvel Industries
	 		</div>
	 	</div>
	 </div>
	 <div class="row">
	 	<div class="col-md-4 field_label">
	 		Current Status:
	 	</div>
	 	<div class="col-md-8">
	 		<div>
	 			xxxx
	 		</div>
	 	</div>
	 </div>
	 <div class="row">
	 	<div class="col-md-4 field_label">
	 		Restricted Use:
	 	</div>
	 	<div class="col-md-8">
	 		<div>
	 			xxx
	 		</div>
	 	</div>
	 </div>

	</section> 


	<section id="documents">
		<header>
			<h2>
			Document Library 
		</h2>
		</header>
		<div class="row">
			<div class="col-md-12">
				<form class="form-inline" id="study_search">
  					<div class="form-group">
    					<label for="mrid">Registration # / Admin #</label><br>
    					<input type="text" class="form-control" id="admin_num">
  						<input id="search_click" type="button" class="btn btn-default" value="search">
  					</div>
  				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<ul id="study_tiles">

				</ul>
			<div>
		</div>
	</section>




</div>

<!-- Studies -->



</body>



</html>