
<!DOCTYPE html>

<html>
<head>

<!-- 
	
NEXT TODO:

1) For each object, fetch and return primary contents link and display the actual download link. Need to look at DQL way to do this in 1 query, or iteratively do separate AJAX calls to get the collection.  
2) 

-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- Latest compiled and minified CSS
<link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">



<link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


<script src="bootstrap-3.3.6-dist/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
-->
<link rel="stylesheet" href="explorer.css">

<script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="api_search.js" type="text/javascript">

</script>


<script type="text/javascript">

	docRes = null; 	
	docArray = [];



$( document ).ready(function() {
    


    function loadSearch(){


    	//clear out search results
    	$("#study_tiles").empty();

    	fetchAPI();

  



    	console.log (docRes);
    	console.log(docArray);

    };

	




	$("#search_click").click(loadSearch);  

});

</script>


</head>


<body>

<div class="container">

	<section id="product_header">
	 <div class="row">
	 	<div class="col-md-12 h2">
	 		Formula Batman Herbicide


	 	</div>
	 </div>

	 <div class="row">
	 	<div class="col-md-4 field_label">
	 		Registration #:
	 	</div>
	 	<div class="col-md-8">
	 		<div>
	 			60019-1
	 		</div>
	 	</div>
	 </div>

	 <div class="row">
	 	<div class="col-md-4 field_label">
	 		Company:
	 	</div>
	 	<div class="col-md-8">
	 		<div>
	 			73446 - Marvel Industries
	 		</div>
	 	</div>
	 </div>
	 <div class="row">
	 	<div class="col-md-4 field_label">
	 		Current Status:
	 	</div>
	 	<div class="col-md-8">
	 		<div>
	 			xxxx
	 		</div>
	 	</div>
	 </div>
	 <div class="row">
	 	<div class="col-md-4 field_label">
	 		Restricted Use:
	 	</div>
	 	<div class="col-md-8">
	 		<div>
	 			xxx
	 		</div>
	 	</div>
	 </div>

	</section> 


	<section id="documents">
		<header>
			<h2>
			Document Library 
		</h2>
		</header>
		<div class="row">
			<div class="col-md-12">
				<form class="form-inline" id="study_search">
  					<div class="form-group">
    					<label for="mrid">Registration # / Admin #</label><br>
    					<input type="text" class="form-control" id="admin_num">
  						<input id="search_click" type="button" class="btn btn-default" value="search">
  					</div>
  				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<ul id="study_tiles">

				</ul>
			<div>
		</div>
	</section>




</div>

<!-- Studies -->



</body>



</html>