<section id="home_about">

	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<div>
				<div>
				<h1>OPP Explorer</h1>
				</div>
				<p>
				<ul class="feature_text">
					<li>A single place for OPP staff to do its work</li>
					<li>Built with all OPP staff working collaboratively</li>
					<li>Pulls together data from across OPP - from OPPIN, PRISM, Documentum and more</li>
					<li>Solving current pain points, but also reaching for new opportunties</li>										
				</ul>
				<!--<div class="more_link">More about <a href="">What is OPP explorer?</a></div>-->
			</div>


		</div>
		<div>
			<img src="/assets/layers.png" alt="explorer_montage" id="explorer_montage">
		</div>

	</div>

</section>

<section id="video_section">

	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<div id="video_mock">
			Video
			<div>
		</div>
	</div>

</section>

<section id="oppteam">

	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<div>
			<h1>Who has been working on OPP Explorer?</h1>
			</div>
			<div>
			Over one hundred people from across OPP have participated in workshops, interviews and feedback sessions over the past year as we design together an easy to use web based environment for teams to work in.
			<div>
			<div class="panel team_panel">
				<div class="row">
					<div class="col-md-2">
						<div class="division_panel">
							<div class="division_title">RD</div>
							<div class="division_names">
								John Smith<br>
								Steve Smith<br>
								Tim Jones

							</div>
						</div>
					</div>

				</div>


			</div>
			
		</div>
	</div>


</section>

<section id="how_built">

	<div class="row outer_row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-md-8">
					<div>
						<h1>How is it being built?</h1>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-4">
				 	<div class="panel">
				 		<div class="pane_title">Build OPP Capacity</div>
				 		<div class="pane_text">
				 			The key to better tools is building on the amazing team already here.
				 			<ul>
				 				<li>OPP Design team made up of existing staff</li>
				 				<li>Science and Regulatory divisions are participating in workshops and designing their own tools on paper</li>
				 				<li>Adding new facilitations methods to existing workgroups</li>				 				

				 			</ul>
				 		</div>
				 	</div>
				</div>
				<div class="col-md-4">
				 	<div class="panel">
				 		<div class="pane_title">User-Driven Process</div>
				 		<div class="pane_text">
				 			Best of breed practices of Google, Facebook and Turbotax should be used in OPP. <p></p>
				 			Modern User Experience (UX) design and prototyping practices are being used to build good experiences for science and regulatory staff that drives business value.
				 		</div>
				 	</div>
				</div>
				<div class="col-md-4">
				 	<div class="panel">
					 	<div class="pane_title">
					 	Modern Technology
					 	</div>
					 	<div class="pane_text">
					 	OPP Explorer is being built on a modern application architecture that drives sites like Kayak, Facebook and more. Its based on open standards that are flexible and can easily change with OPP's evolving needs.
					 	<p></p>
					 	Learn more <a href="/home/technology">here</a>
					 	</div>
				 	</div>
				</div>								
				
			</div>			

		</div>


	</div>

</section>
<section id="home_other">

	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="pane">
				<div class="pane_title">
					Who's working on it? 
				</div>
				<div class="pane_text">
					Over seventy five people from across OPP have participated in workshops, interviews and feedback sessions as we co-design an easy to use web based environment for teams to work in.
					<div class="more_link">Click here for <a href="">more</a></div>
					
				</div>				
			</div>
		</div>
		<div class="col-md-3">
			<div class="pane">
				<div class="pane_title">
					How does it work? 
				</div>	
				<div class="pane_text">
					OPP Explorer is modern web-based software that pulls together information and documents from OPP's existing systems and allows users to work with then in one easy-to-use interface.

				</div>	
				<div class="more_link">To learn more about how it works, click <a href="">here</a></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="pane">
				<div class="pane_title">
					What is the OPP Design and Prototype team?
				</div>	
				<div class="pane_text">
					The OPP Design and Prototype team are OPP staff who are working as User Experience (UX) designers, developers and product managers using private-sector best practices from Google, Facebook and others for developing software that is easy to use and relentlessly user-focused. 

				</div>		
			</div>
	
		</div>
	</div>
</section>

<section id="home_other2">

	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="pane">
				<div class="pane_title">
					How is OPP Explorer being built? 
				</div>
				<div class="pane_text">
					OPP Explorer is being co-constructed with science, regulatory and OPP Design and Prototype team. Understanding your job in the Science and Regulatory divisions is the job of the design team. You will particpate in group sketch sessions, build paper prototypes, have a design team member follow you around. 
					<div class="more_link">Click here for <a href="">more</a></div>
					
				</div>				
			</div>
		</div>
		<div class="col-md-3">
			<div class="pane">
				<div class="pane_title">
					What are we working on now?
				</div>	
				<div class="pane_text">
					There are two concurrent sprints ongoing now, one to build out a Chemical View dashboard for PRD and one to build out electrnoic workflow for a new product registration for RD. 

				</div>	
				<div class="more_link">To learn more, click<a href="">here</a></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="pane">
				<div class="pane_title">
					How to get involved?
				</div>	
				<div class="pane_text">
					Building tools in a new way can only succeed by the participation of the people who will use it. 

				</div>		
			</div>
	
		</div>
	</div>
</section>

