<section id="home_about">

	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<div>
				<div class="feature_title">
				OPP Explorer is new way for OPP to work. 
				</div>
				<p>
				<ul class="feature_text">
					<li>A single place for OPP staff to do its work</li>
					<li>Build with all OPP staff working collaboratively</li>
					<li>Pulls together data from across OPP - from OPPIN, PRISM, Documentum and more</li>
					<li>Solving current pain points, but also reaching for new opportunties</li>										
				</ul>
			</div>


		</div>
		<div>
			<img src="/assets/opp-explorer-product-view.png" alt="explorer_montage" id="explorer_montage">
		</div>

	</div>

</section>

<section id="home_other">

	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="pane">
				<div class="pane_title">
					Who's working on it? 
				</div>
				<div class="pane_text">
					Over seventy five people from across OPP have participated in workshops, interviews and feedback sessions as we co-design an easy to use web based environment for teams to work in.
					<div class="more_link">Click here for <a href="">more</a></div>
					
				</div>				
			</div>
		</div>
		<div class="col-md-3">
			<div class="pane">
				<div class="pane_title">
					How does it work? 
				</div>	
				<div class="pane_text">
					OPP Explorer is modern web-based software that pulls together information and documents from OPP's existing systems and allows users to work with then in one easy-to-use interface.

				</div>				
			</div>
		</div>
		<div class="col-md-3">
			<div class="pane">
				<div class="pane_title">
					What is the OPP Design and Prototype team?
				</div>	
				<div class="pane_text">
					The OPP Design and Prototype team are OPP staff who are working as User Experience (UX) designers, developers and product managers using private-sector best practices from Google, Facebook and others for developing software that is easy to use and relentlessly user-focused. 

				</div>		
			</div>
	
		</div>
	</div>
</section>