
<section id="methods">

<div id="methods_head">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h1>How its being built: Human Centered Design</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			OPP Explorer is being co-designed with science, regulatory and the OPP Design and Prototype teams. The key to designing easy-to-use software tools is to deeply understand the people who use them and their jobs. This practice and associated methods is called Human Centered Design (User Centered Design, User Experience (UX) design). It is a way to have more productive meetings to understand a group’s priorities, get more clarity on how things work now or generate many new ideas to solve a stubborn problem.  
		</div>

	</div>
</div>

<div id="methods_overview">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="pane">
				<div>
					<h2>Method Reference</h2>
				</div>
				<div>
					<div class="method_box looking">
						<div class="method_title">Looking</div>
						<div class="method_text">Learning by watching users in their natural environment or reacting in response to a mockup or other artifact</div>
					</div>
					<div class="method_box understanding">
						<div class="method_title">Understanding</div>
						<div class="method_text">Making sense of what you have heard, observed or activities to understand needs and priorities</div>

					</div>
					<div class="method_box making">
						<div class="method_title">Making</div>
						<div class="method_text">Creating or co-creating things with groups of users to generate ideas, prototypes or mockups</div>

					</div>
					
				</div>				
			</div>
		</div>

	</div>

</div>

<div id="methods_examples">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">

				<div>
					<h2>Examples of how to use methods</h2>
				</div>
				<div style="font-size: 14pt">
					<p>Get a group understanding of a problem or process?</p>
					<p>Brainstorm concept ideas for an opportunity</p>	
					<p>Co-create a software interface as a group</p>
					
				</div>				
		</div>
	</div>
</div>

</section>
