<!DOCTYPE html>

<html>
<head>


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

<script type="text/javascript">

    decisionFilter = "all";

    $( document ).ready(function() {

        $("#login_button").click(function(){
            sessionStorage.setItem("oppin_user",$("#login-input").val());//set session storage of oppin username
            $("#my_decisions").css("display","block");
            $("#login_section").css("display","none");  

            loadPage(1);
            setupPage();     
        })

        if(sessionStorage.oppin_user){

            loadPage(1);
            setupPage();     
        }
        else{
            $("#my_decisions").css("display","none");
            $("#login_section").css("display","block");

        }


    });


  

</script>


</head>


<body>

    <div class="container">

    <%= render "head" %>
    
    <section id="mywork">
        <header>
            <h2>
            My Work
            </h2>
        </header>

    </section>

     <section id="my_decisions">
         <div class="row">
             <div class="col-md-12">
                    <h3>Pending Decisions</h3>
             </div>
         </div>
         <div class="row">
             <div class="col-md-12">
                
                <a class="filter-tag" href="javascript:" data-filter="all">All Decisions</a>
                <a class="filter-tag" href="javascript:" data-filter="PRIA">PRIA</a>
             </div>
         </div>
         <div class="row">
            <div class="col-md-12">
                <table class="decision_table">

                </table>
            </div>


         </div>

     </section>   
     <section id="login_section">
        <div class="row">
            <div class="col-md-12" id="login-instructions">
                Please enter your OPPIN username
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="input" id="login-input" class="form-control">
                <input type="button" class="btn btn-default" value="login" id="login_button">

            </div>
        </div>        
     </section>

    </div><!-- container -->

</body>