<!DOCTYPE html>

<html>
<head>


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

<script type="text/javascript">


    $( document ).ready(function() {

        function loadSearch(){

            //clear out search results
            //$("#study_tiles").empty();

            fetch_product();

            fetch_decisions({
                "ri_num" : $('#ri_num').val(),
                "tables" : ["#current_decision .decision_table","#past_decisions .decision_table"]
                });

        };

        $("#search_click").click(loadSearch);  


    });

</script>


</head>


<body>

    <div class="container">

    <%= render "head" %>
    
    <section id="reg_search">
        <header>
            <h2>
            Product View 
            </h2>
        </header>
        <div class="row">
            <div class="col-md-12">
                <form id="product_search">
                    <div class="form-group">
                        <label for="mrid">Enter Registration Number #</label>
                        <input type="text" class="form-control" id="ri_num">
                        <input id="search_click" type="button" class="btn btn-default" value="search">
                    </div>
                </form>
            </div>
        </div>

    </section>

    <section id="product_header">
     <div class="row">
        <div class="col-md-12 h3" id="ri_name">
            
       </div>
     </div>

     <div class="row">
        <div class="col-md-4 field_label product_summary_label">
            Registration #:
        </div>
        <div class="col-md-8 product_summary_value">
            <div id="ri_number">
                 
            </div>
        </div>
     </div>

     <div class="row">
        <div class="col-md-4 field_label product_summary_label">
            Registration Type:
        </div>
        <div class="col-md-8 product_summary_value">
            <div id="ri_type">
                 
            </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-4 field_label  product_summary_label">
            Current Status:
        </div>
        <div class="col-md-8">
            <div id="ri_status">
                 
            </div>
        </div>
     </div>

     <div class="row">
        <div class="col-md-4 field_label product_summary_label">
            Company:
        </div>
        <div class="col-md-8" id="co_name">
            <div>
                 
            </div>
        </div>
     </div>
     </section>


     <section id="current_decision">
         <div class="row">
             <div class="col-md-12">
                    <h3>Current Decision</h3>
             </div>
         </div>
         <div class="row">
            <div class="col-md-12">
                <table class="decision_table">

                </table>
            </div>


         </div>

     </section>

     <section id="past_decisions">
         <div class="row">
             <div class="col-md-12">
                    <h3>Past Decisions</h3>
             </div>
         </div>
         <div class="row">
            <div class="col-md-12">
                <table class="decision_table">
                    <tr>
                        <th>Dec#</th>
                        <th>Action</th>
                        <th>Status</th>
                        <th>Division</th>
                        <th>Person</th>
                        <th>FFS Start</th>
                        <th>Due Date</th>
                        <th></th>
                                                                                                       
                    </tr>
                </table>
            </div>


         </div>

     </section>     

    </div><!-- container -->

</body>