function fetch_ingredient(ing_id, ing_key_name) {

	
	var url = api_url + ":3000/ingredients/" + ing_id;
	//show div for spinner

	$.ajax({
	  type: "get",
    data: {key_name: ing_key_name},
	  url: url,
      crossDomain: true,
      beforeSend: function(xhr) {
      clearIngredientView();
		    $("#ingredient_summary").css("display","block"); //show ingredient header  
      	   $("#ingredient_summary").append("<div class='loading'>Loading Ingredient Summary...</div>");
          }
      ,
      success: function (data){
		    $("#ingredient_summary .loading").remove();
		    $("#ingredient_summary .row").css("display","block");


      if(data.data[0]){
          fetch_decisions({
          "cuid" : data.data[0].cuid,
          "tables" : ["#current_decision .decision_table"]
          }); 
        ing_summary_data = data.data[0];//1. store results of /ingredient API call in a global variable
        displayIngredientSummary(); 

      }
      else {
      $('#ingredient_name').html("No ingredient found for: " + $("#pc_code_search").val() ); 
      $('#ingredient_name').addClass("ingredient_not_found");        
      }
      


    	
      }

	});

};

function displayIngredientSummary () {


  //load summary fields
  $('#ingredient_name').html(ing_summary_data.ind_name);
  $('#pc_code').html(ing_summary_data.ioi_cd);
  //$('#ri_type').html(tempData.rist_name);
  $('#cas_num').html(ing_summary_data.cas_num);
  $('#ing_class').html(ing_summary_data.class_desc);
  $('#first_reg').html(oracleDate(ing_summary_data.first_registered_dt));
  $('#pt_type').html(ing_summary_data.pt_desc);
  
};

function clearIngredientView() {

  //clear ingredient summary fields

  $('#ingredient_name').html("");
  $('#pc_code').html("");
  //$('#ri_type').html(tempData.rist_name);
  $('#cas_num').html("");
  $('#ing_class').html("");
  $('#first_reg').html("");
  $('#pt_type').html("");
 
    $(".decision_table").empty();

}