



function loadPage(pageNumber) {//this is used for navigating through result sets of mywork decisions

	//set up the visual indicator that user is logged in
	$("#user_header").html("Hi " + sessionStorage.oppin_user + " | <a onclick=\"javascript:logout()\">Logout</a><br>");
	//setup filter button display
	$(".filter-tag").each(function(index,button){
		//if localStorage filter is set, highlight the button
		if($(button).attr("data-filter") == localStorage.getItem("mywork_filter")){
			$(button).addClass("filter-tag-selected");
			decisionFilter = localStorage.getItem("mywork_filter");
		}
	});
	
    fetch_decisions({//this is defined in decisions.js
        "sm_uid" : sessionStorage.oppin_user.toUpperCase(),
        "tables" : ["#my_decisions .decision_table"],
        "page" : pageNumber,
        "filter": decisionFilter
        });            
}  

function setupPage(){

	$(".filter-tag").click(function(){
		decisionFilter = $(this).attr("data-filter");
		localStorage.setItem('mywork_filter',decisionFilter);
		loadPage(1);
		$(".filter-tag").removeClass("filter-tag-selected");
		$(this).addClass("filter-tag-selected");

	})
}

function logout() {
	sessionStorage.removeItem('oppin_user'); 
	window.location.reload();
	$("#user_header").append("<div class='logging-out loading'>Logging out</div>");
}
