
api_url = "<%= ENV['OPP_API_URL'] %>";
product_data = null;
decisions_data = null;


function fetch_product() {

	var ri_num_value = $('#ri_num').val();
	var url = api_url + ":3000/products/" + ri_num_value;
	//show div for spinner



	$.ajax({
	  type: "get",
	  url: url,
      crossDomain: true,
      beforeSend: function(xhr) {
      	$("#current_decision").css("display","block");
      	var el = $("#current_decision");
		var spinner = el.qspin({task:'add',background: 'transparent', spinnerImage: 'Loading_icon.gif'});
      }
      ,
      success: function (data){
    	
    	product_data = data[0];
    	loadProduct();
      }

	});

};
	

  
function loadProduct() {

	var tempData = product_data;
	$("#product_header").css("display","block")
	$('#ri_name').html(tempData.rin_name);
	$('#ri_number').html(tempData.ri_num);
	//$('#ri_type').html(tempData.rist_name);
	$('#co_name').html(tempData.co_name);
	$('#ri_status').html(tempData.rist_name);
 	
};

function fetch_decisions(){

	var ri_num_value = $('#ri_num').val();
	var url = api_url + ":3000/decisions/" + ri_num_value;

	$.ajax({
	  type: "get",
	  url: url,
      crossDomain: true,
      success: function (data){
    	
    	decisions_data = data;
    	loadDecisions();
      }

	});

}

function loadDecisions() {

	//$("#decision_history").empty();
	var tempDecisions = decisions_data;
	var tbl = document.getElementById("decision_table");
 	var tmpDec = null; 
 	var tmpRowColor = "#C0C0C0";
 	$("#current_decision").css("display","inline-block");





	$.each( decisions_data, function( index, decision ) {
	     var detailPane = $("<tr><td colspan='8' class='detail_pane'><table class='receipt_table'></table></td></tr>");
	    //create a row for each decision 
	    var row = $("<tr></tr>");
        if (decision.dec_seq != tmpDec){//new decision group
        	tmpDec = decision.dec_seq;
        	if (tmpRowColor == "#C0C0C0") { tmpRowColor  = "#ffffff"}
        	else { tmpRowColor = "#C0C0C0"}
        	$(row).css("background-color",tmpRowColor);
        }

	    var c1 = $("<td>" + decision.dec_seq + "</td>").css("background-color",tmpRowColor);
	    var c2 = $("<td>" + decision.adt_action_cd	 + "</td>").css("background-color",tmpRowColor);;

	    var c3 = $("<td>" + decision.dstty_type + "</td>").css("background-color",tmpRowColor);;
	    var c4 = $("<td>" + decision.org_division_name + "/" + decision.org_branch_name + "</td>").css("background-color",tmpRowColor);;
	    var c5 = $("<td>" + "xxxxx" + "</td>").css("background-color",tmpRowColor);;
	    var c6 = $("<td>" + decision.ffs_start_date + "</td>").css("background-color",tmpRowColor);
	    var c7 = $("<td>" + decision.ri_num + "</td>").css("background-color",tmpRowColor);
	    var c8 = $("<td><a>Receipts</a></td>").css("background-color",tmpRowColor);
	    $(c8).find("a").attr("onclick","javascript: showDetail(this);");

	    //add cells to row DOM 
	    $(row).append(c1);$(row).append(c2);$(row).append(c3);$(row).append(c4);
	    $(row).append(c5);$(row).append(c6);$(row).append(c7); $(row).append(c8);

	    $(tbl).append(row);
	    $(tbl).append(detailPane);

	    //Now, set up receipt rows and add to DOM
	    $.each( decision.items, function(index,item){
	    	var iRow = $("<tr><td>" + item.subt_desc + "</td><td>(" + item.pin_punch_dt2 + ")</td><td>S#: " + item.irec_seq + "</td></tr>");
	    	$(detailPane).find(".receipt_table").append(iRow);
	    })

  	});
}

function showDetail(anchor){


 var currentRow = $(anchor).parent().parent()[0];
 var detailPane = $($(currentRow).next()[0]).find('.detail_pane')[0];
 $(detailPane).toggle();

}
