
api_url = "<%= ENV['OPP_API_URL'] %>";
product_data = null;
decisions_data = null;


function fetch_product() {

	var ri_num_value = $('#ri_num').val();
	var url = api_url + ":3000/products/" + ri_num_value;
	//show div for spinner

	$.ajax({
	  type: "get",
	  url: url,
      crossDomain: true,
      beforeSend: function(xhr) {
      	$("#current_decision").css("display","block");

      }
      ,
      success: function (data){
    	
    	product_data = data[0];
    	loadProduct();
      }

	});

};
	

  
function loadProduct() {

	var tempData = product_data;
	$("#product_header").css("display","block"); //show product header
	//load summary fields
	$('#ri_name').html(tempData.rin_name);
	$('#ri_number').html(tempData.ri_num);
	//$('#ri_type').html(tempData.rist_name);
	$('#co_name').html(tempData.co_name);
	$('#ri_status').html(tempData.rist_name);
 	
};


function oracleDate(date){
	//pass in date as Oracle formats it, return string mm/dd/yyyy

	var indexTime = date.indexOf("T");
	var justDate = date.substring(0,indexTime);
	var newString = justDate.split("-")[1] + "/" + justDate.split("-")[2] + "/" + justDate.split("-")[0]
	return newString

}

function contactDialog(anchor) {
	//this funtion handles the click event on a reviewer's name
	//it creates the dialog on the fly, fetches the results from the /people endpoint and populates it


	//1. create content div, then bind it to dialog
	var contactDiv = $("<div><div id='progressbar'></div><div>Loading...</div><table class='contact_table'><tr><td width='70px'>Name:</td><td 'class'='name1'></td></tr><tr><td>Phone:</td><td class='phone'></td></tr><tr><td>Mail Code:</td><td></td></tr><tr><td>Location:</td><td></td></tr><tr><td>Building:</td><td></td></tr><tr><td>Room:</td><td></td></tr></table></div>");
	$(contactDiv).dialog({"title":"Contact Information"});
	$(contactDiv).dialog("open");//2. open the dialog
	//2.5 start progress bar
	var progBar = $(contactDiv).find("#progressbar")[0];
	$(progBar).progressbar({value: false});
	var temp = 1;
	//3. fetch the person's contact information
	$.ajax({
	  type: "get",
	  url: api_url + ":3000/people/",
      crossDomain: true,
      data: {"first":"Reuben","last":"Baris"},
      beforeSend: function(xhr) {

      }
      ,
      success: function (data){
    	//4. update the contact table with lookup results
		$(progBar).progressbar("destroy");    	
		$(progBar).next().empty();
    	people_data = data[0];
    	var nameDiv = $(contactDiv).find("td")[1];
    	$(nameDiv).text(people_data.name);
    	
      }

	});	
}

