



function fetch_product(ri_num) {

	
	var url = api_url + ":3000/products/" + ri_num;
	//show div for spinner

	$.ajax({
	  type: "get",
	  url: url,
      crossDomain: true,
      beforeSend: function(xhr) {
      	$("#current_decision").css("display","block");

      }
      ,
      success: function (data){
    	
    	product_data = data[0];
    	loadProduct();
    	fetch_documents(ri_num);
      }

	});

};
	

  
function loadProduct() {

	var tempData = product_data;
	$("#product_header").css("display","block"); //show product header
	//load summary fields
	$('#ri_name').html(tempData.rin_name);
	$('#ri_number').html(tempData.ri_num);
	//$('#ri_type').html(tempData.rist_name);
	$('#co_name').html(tempData.co_name);
	$('#ri_status').html(tempData.rist_name);

	//loop over ingredients array
	$('#ingredients').empty();
	$.each(tempData.ingredients,function(index,ingredient) {
		tmp_ing = "<div>" + ingredient.ind_name + "</div>"
		$("#ingredients").append(tmp_ing);
		//populate the registration review activity section
		//loadDCIs(in)

	});



 	
};






