
api_url = "<%= ENV['OPP_API_URL'] %>";
product_data = null;
decisions_data = null;


function fetch_product() {

	var ri_num_value = $('#ri_num').val();
	var url = api_url + ":3000/products/" + ri_num_value;

	$.ajax({
	  type: "get",
	  url: url,
      crossDomain: true,
      success: function (data){
    	
    	product_data = data[0];
    	loadProduct();
      }

	});

};
	

  
function loadProduct() {

	var tempData = product_data;
	$('#ri_name').html(tempData.rin_name);
	$('#ri_number').html(tempData.ri_num);
	//$('#ri_type').html(tempData.rist_name);
	$('#co_name').html(tempData.co_name);
	$('#ri_status').html(tempData.rist_name);
 	
};

function fetch_decisions(){

	var ri_num_value = $('#ri_num').val();
	var url = api_url + ":3000/decisions/" + ri_num_value;

	$.ajax({
	  type: "get",
	  url: url,
      crossDomain: true,
      success: function (data){
    	
    	decisions_data = data;
    	loadDecisions();
      }

	});

}

function loadDecisions() {

	var tempDecisions = decisions_data;
	var tbl = document.getElementById("decision_history");
 
	$.each( decisions_data, function( index, decision ) {
			console.log('dec_seq: ' + decision.dec_seq + ', index: ' + index);

	    var row = $("<tr></tr>");
	    var c1 = $("<td>" + decision.dec_seq + "</td>");
	    var c2 = $("<td>" + decision.deci_seq + "</td>");
	    var c3 = $("<td>" + decision.dir_dt + "</td>");
	    var c4 = $("<td>" + decision.dir_end_dt + "</td>");
	    var c5 = $("<td>" + decision.adt_action_cd + "</td>");
	    var c6 = $("<td>" + decision.rtyp_cd + "</td>");
	    var c7 = $("<td>" + decision.ri_num + "</td>");
	    var c8 = $("<td>" + decision.rin_name + "</td>");
	    var c9 = $("<td>" + decision.sm_uid + "</td>");


	    $(row).append(c1);$(row).append(c2);$(row).append(c3);$(row).append(c4);
	    $(row).append(c5);$(row).append(c6);$(row).append(c7);$(row).append(c8);$(row).append(c9);

	    $(tbl).append(row);

  	});
}
