



function fetch_product() {

	var ri_num_value = $('#ri_num').val();
	var url = api_url + ":3000/products/" + ri_num_value;
	//show div for spinner

	$.ajax({
	  type: "get",
	  url: url,
      crossDomain: true,
      beforeSend: function(xhr) {
      	$("#current_decision").css("display","block");

      }
      ,
      success: function (data){
    	
    	product_data = data[0];
    	loadProduct();
      }

	});

};
	

  
function loadProduct() {

	var tempData = product_data;
	$("#product_header").css("display","block"); //show product header
	//load summary fields
	$('#ri_name').html(tempData.rin_name);
	$('#ri_number').html(tempData.ri_num);
	//$('#ri_type').html(tempData.rist_name);
	$('#co_name').html(tempData.co_name);
	$('#ri_status').html(tempData.rist_name);

	//loop over ingredients array
	$.each(tempData.ingredients,function(index,ingredient) {
		tmp_ing = "<div>" + ingredient.ind_name + "</div>"
		$("#ingredients").append(tmp_ing);
	});
 	
};






