api_url = "<%= ENV['OPP_API_URL'] %>";
product_data = null;
decisions_data = null;
has_dci = false;
dci_data = null;
dci_ai =[];
rr_case_status =[];
ing_summary_data = null;


function contactDialog(anchor) {
	//this funtion handles the click event on a reviewer's name
	//it creates the dialog on the fly, fetches the results from the /people endpoint and populates it


	//1. create content div, then bind it to dialog
	var contactDiv = $("<div><div id='progressbar'></div><div>Loading...</div><table class='contact_table'><tr><td width='70px'>Name:</td><td 'class'='name1'></td></tr><tr><td>Phone:</td><td class='phone'></td></tr><tr><td>Email:</td><td></td></tr><tr><td>Mail Code:</td><td></td></tr><tr><td>Location:</td><td></td></tr><tr><td>Building:</td><td></td></tr><tr><td>Room:</td><td></td></tr></table></div>");
	$(contactDiv).dialog({"title":"Contact Information"});
	$(contactDiv).dialog("open");//2. open the dialog
	//2.5 start progress bar
	var progBar = $(contactDiv).find("#progressbar")[0];
	$(progBar).progressbar({value: false});
	var temp = 1;
	//3. fetch the person's contact information
	$.ajax({
	  type: "get",
	  url: api_url + ":3000/people/",
      crossDomain: true,
      data: {"first": $(anchor).text().split(" ")[0],"last":$(anchor).text().split(" ")[1]},
      beforeSend: function(xhr) {

      }
      ,
      success: function (data){
    	//4. update the contact table with lookup results
		$(progBar).progressbar("destroy");    	
		$(progBar).next().empty();
    	people_data = data[0];
    	var nameDiv = $(contactDiv).find("td")[1];
    	$(nameDiv).text(people_data.name);
    	var phoneDiv = $(contactDiv).find("td")[3];
    	$(phoneDiv).text(people_data.phone);
    	var emailDiv = $(contactDiv).find("td")[5];
    	$(emailDiv).text(people_data.email_address);    	
    	var mailDiv = $(contactDiv).find("td")[7];
    	$(mailDiv).text(people_data.mail_code);
    	var locationDiv = $(contactDiv).find("td")[9];
    	$(locationDiv).text(people_data.location);
    	var buildingDiv = $(contactDiv).find("td")[11];
    	$(buildingDiv).text(people_data.building);   
    	var roomDiv = $(contactDiv).find("td")[13];
    	$(roomDiv).text(people_data.room);   
    	
      }

	});	
}

function oracleDate(date){
	//pass in date as Oracle formats it, return string mm/dd/yyyy
	if (date == null) {
		return;
	}
	var indexTime = date.indexOf("T");
	var justDate = date.substring(0,indexTime);
	var newString = justDate.split("-")[1] + "/" + justDate.split("-")[2] + "/" + justDate.split("-")[0]
	return newString

}