.dci_label {

	background-color: rgb(238,238,238);
	border-top: 1px solid #cccccc;	

}

.dci_name {


}

.dci_head {
	font-size: 16pt;
	color: #aaaaaa;
	margin-top: 10px;
}

.case_head {
	font-weight: bold;
	margin-top: 5px;
}

.dci_summ_label {
	width: 150px;
	vertical-align: top;

}

.dci_order_data_row {
	display: none;
}

#reg_review .row {

}