/* decision tables */ 

.decision_table{
	margin-top: 0px;
	margin-bottom: 0px;
	width: 800px;
}

.decision_table .headrow {
	background-color: #ffffff;
}

.decision_table tr:hover {
	background-color: #d6f4f9;
}

.decision_table .headrow tr:hover {
	background-color: #ffffff;
}

.decision_table tr  {
	background-color: rgb(238,238,238);
}
/* need to re-evaluate whether we need USWDS */	
.decision_table td{
	border: none;
	border-top-width: 1px;
	border-top-color: #cccccc;
	border-top-style: solid;
	padding: 5px;

}

.decision_table th{
	border: none;
}


/* current decision <section>*/

#current_decision {
	display: none; 

}

#current_decision th {
	border:none;
}


/* Past decisions <section> */

#past_decisions {
	display: none;
}

/* receipts */


.detail_pane {
	border: 1px solid #000000;
	width: 100%;
	display:none;
	background-color: #ffffff;
}


.receipt_table {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	display:inline;
}

.decision_table .receipt_table tr {
	background-color: #ffffff;
}

.decision_table .receipt_table tr:hover {
	background-color: rgb(238,238,238);
}

.decision_table .receipt_table td {
	border: none;
	padding: 2px;
}
