/* decision tables */ 

.decision_table{
	margin-top: 0px;
	margin-bottom: 0px;
	width: 800px;
}

.decision_table .headrow {
	background-color: #ffffff;
}

.decision_table tr:hover {
	background-color: #d6f4f9;
}

.decision_table .headrow tr:hover {
	background-color: #ffffff;
}

.decision_table tr  {
	background-color: rgb(238,238,238);
}
/* need to re-evaluate whether we need USWDS */	
.decision_table td{
	border: none;
	border-top-width: 1px;
	border-top-color: #cccccc;
	border-top-style: solid;
	padding: 5px;

}

.decision_table th{
	border: none;
}


/* current decision <section>*/

#current_decision {
	display: none; 

}

#current_decision th {
	border:none;
}


/* Past decisions <section> */

#past_decisions {
	display: none;
}

/* receipts */


.detail_pane {
	border: 1px solid #000000;
	width: 100%;
	display:none;
	background-color: #ffffff;
}


.receipt_table {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	display:block;
	width: 100%;
}

.decision_table .receipt_table tr {
	background-color: #ffffff;
	border-bottom: 1px solid rgb(238,238,238);	
}

.decision_table .receipt_table tr:hover {
	background-color: rgb(238,238,238);
}

.decision_table .receipt_table td {
	/* border-bottom: 1px solid rgb(238,238,238); */
	border: none;
	padding: 2px;
}

.receipt_table tbody {
	width: 100%;
	display: block;
}

/* Decision Graph */

.decision_line {
	background-color: #d1ed8b;
	height: 20px;
	width: 100%;
	position: relative;
	font-size: 10pt;
	padding-left: 30px;

}

.submission_line {
	background-color: #f4b942;
	height: 20px;
	position: relative;
	margin-top:10px;
	font-size: 10pt;
	padding-left: 30px;

}

.datapackage_line {
	background-color: #79a7f2;
	height: 20px;
	position: relative;
	margin-top:10px;
	font-size: 10pt;
	padding-left: 30px;

}

.datapackage_line a {
	color: #ffffff;
}

.graph_div {
	border: 1px solid #cccccc;
	width: 800px;
	height: auto;
	position: relative;
	margin-bottom: 20px;
}

.graph_circle {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: 100;
}

.ffs_start_circle {
	background-color: #01630e;
}

.due_dt_circle {
	background-color: #01630e;
}