

.field_label {
	font-weight: bold

}

#product_header {
	display:none;
}
.row {
	/* border: 1px solid #000000; */
}

.col-md-4 {
	/*border: 1px solid #aacc00;	*/
}

section {
	margin-top: 10px;
	margin-bottom: 20px;
}

.study-result {
	
}

#document_library {
	display: none;
}

#document_list {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 20px;
	width: 500px;

}

#document_list li {
	border-bottom: 1px solid #aaaaaa;
	margin-left: 15px;
	padding: 10px;

}

.reg_num {

	color: #2222aa;
}

.minor_text {

	color: #cacaca;
}

.download {

	font-size: 10pt;
	color: #cccccc;
	margin-left: 20px;
	float: right;


}

.doc_name {
	margin-left: 10px;
	font-size: 9pt;
	display: inline-block;
}

.doc_type {
	font-size: 10pt;
	color: #acacac;
	display: inline-block;

}

#previewPane {
	width: 600px;
	height: 500px;

	/* border: 1px solid #000000; */
}