body {
	font-size: 14pt;
}

#home-container section {

	margin-top: 0px;
	margin-bottom: 0px;
}

#home_head { 

	padding-top: 10px;
	padding-bottom: 20px;
}
#home_head div{

}

#home_menu {
	float: right;
	display: inline;	
	margin-top: 10px;
	
}

#home_menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;

}

#home_menu li {
	display: inline;
	margin-right: 20px;
	color: #545454;	
	font-size: 14pt;
}

#explorer_title {
	font-size: 14pt;
	padding-left: 15px;
}


#explorer_montage {
	width: 500px;
}

/* Main About... */

#home_about {

}

#home_about .row {

	background: rgb(65,147,227);
	padding-top: 35px;
	padding-bottom: 35px;	
}

#home_about li {
	margin-bottom: 12px;
}

#home_about h1 {

	color: #ffffff;
}

#home_about .feature_text {
	font-size: 14pt;
	color: #ffffff;
}

/* video section */
#video_section {

}

#video_mock {
	border-radius: 5px;
	background: #000000;
	height: 400px;
	width: 600px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;

}

/* who is working on it section */

#oppteam {
	line-height: 170%;
	font-size: 14pt;

}
#oppteam .row {
	background: rgb(160,209,93);	
	padding-top: 35px;
	padding-bottom: 35px;

}

#oppteam h1 {
	color: #ffffff;
}

.team_panel {
	border-radius: 10px;
	background: #ffffff;
	width: 100%;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	padding: 5px;

}

#oppteam .team_panel .row {
	background: transparent;
}

#oppteam .division_panel {
	border: 1px solid #000000;
}

#oppteam .division_title {
	font-weight: 600;
	font-size: 12pt;
	line-height: 110%;
}

#oppteam .division_names {
	line-height: 110%;
	font-size: 11pt;
}

/* How is it being built */

#how_built {
	font-size: 14pt;
	line-height: 120%;
}

#how_built .outer_row {
	background-image: url("/assets/background_fade.jpg");
}

#how_built h1 {
	margin-bottom: 30px;
}

#how_built .panel {
	padding: 10px;
	min-height: 300px;
}

#how_built ul {
	margin-top: 10px;

}

#how_built li {
	margin-bottom: 12px;
}

#how_built .pane_title {
	color: rgb(65,147,227);
}

/* get involved */ 

#get_involved .outer_row {
	background: rgb(247,130,83);
}












#home_other {
	background: #aaaaff;
	padding-top: 10px;
	padding-bottom: 20px;	
	display: none;
}

#home_other2 {
	display: none;
}


.pane {
	margin-right: 30px;
}

.pane_title {
	font-size: 13pt;
	margin-bottom: 10px;
}

.pane_text {
	font-size: 11pt;
}

.more_link {
	margin-top: 10px;
	font-size: 12pt;
}

/* current work */

#currentwork{
	line-height: 160%;
}

#currentwork_head {
	padding-top: 35px;
	padding-bottom: 35px;
}

 h1 {
	color: #ffffff;
}

.sketch_pic {
	width: 100%;
}

.sketch_pic_2 {
	width: 100%;
}

.rd_non_pria_pic {
	width: 100%;
}

.rd_wireframe {
	width: 100%;
}

.blurb {
	padding-top: 15px;
}

#work_stream_1 .row {
	background: rgb(160,209,93);	

}
.first-row {
	
	padding-top: 45px;

}

.last-row {
	
	padding-bottom: 45px;	
}

#work_stream_1 h2 {
	color: #ffffff;
}
