
/* body */

/* Header include */

#head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#head li {
	display: inline;
	margin-right: 20px;
	color: #545454;
}
/* Product Summary */

#product_search input {
	display: inline-block;
	width: 100px;
}

#product_search label {
	display: inline-block;
	margin-top: 0px;
	font-weight: 200;
}

#product_search .form-group {
	margin-top: 0px;
}

#product_summary {
	display:none;
	/* border: 1px solid #000000; */
}

#product_summary .row {
	display: none;
}

.field_label {
	font-weight: 200;

}

.product_summary_label {
	background-color: rgb(238,238,238);
	border-top: 1px solid #cccccc;
}

.product_summary_value {
	 
	border-top: 1px solid #cccccc;
}

#product_header .product_summary_label  {
	padding-top: 5px;
}

/* registration review */

#reg_review {
	display:none;
}

/*  Contact Table */

.contact_table td {
	padding: 0px;
	border: none;
}

.contact_table {
	font-size: 10pt;
}

 /* The animation code */
@keyframes loading_animation {
    from {color: #cccccc;}
    to {color: #ffffff;}
}

/* The element to apply the animation to */
div.loading {

    animation-name: loading_animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
} 

.loading {
	font-size: 14pt;
}